{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Redefinir Senha" %}{% endblock %}

{% block content %}
    <h1>{% trans "Redefinir Senha" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Enviamos um e-mail para você. Por favor, entre em contato conosco se não recebê-lo dentro de alguns minutos.{% endblocktrans %}</p>
{% endblock %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Redefinir Senha" %}{% endblock %}

{% block content %}
    <h1>{% trans "Redefinir Senha" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Enviamos um e-mail para você. Por favor, entre em contato conosco se não recebê-lo dentro de alguns minutos.{% endblocktrans %}</p>
{% endblock %}