{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Alterar Senha" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Token Inválido" %}{% else %}{% trans "Alterar Senha" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}O link de redefinição de senha é inválido, possivelmente porque já foi utilizado. Por favor, solicite uma <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'alterar senha' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Sua senha foi alterada com sucesso.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
