{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifique Seu Endereço de E-mail" %}{% endblock %}

{% block content %}
<h1>{% trans "Verifique Seu Endereço de E-mail" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta parte do site exige que verifiquemos que você é quem diz ser. Para esse fim, precisamos que você verifique a propriedade do seu endereço de e-mail. {% endblocktrans %}</p>

<p>{% blocktrans %}Enviamos um e-mail para você para verificação. Por favor, clique no link dentro desse e-mail. Entre em contato conosco se não recebê-lo dentro de alguns minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> você ainda pode <a href="{{ email_url }}">alterar seu endereço de e-mail</a>.{% endblocktrans %}</p>

{% endblock %}
